db.sqlite3
/projetoapp/__pycache__/*
/apps/ongs/__pycache__/*

/apps/core/__pycache__/*
/apps/core/migrations/
/apps/veterinario/__pycache__/*
/apps/doador/__pycache__/*
/apps/adotante/__pycache__/*
/apps/adotante/migrations/
/apps/adocao/__pycache__/*
/apps/adocao_animal/__pycache__/*
/apps/animal/__pycache__/*
/apps/atendimento/__pycache__/*