db.sqlite3
/projetoapp/__pycache__/*
/apps/ongs/__pycache__/*
/apps/ongs/migrations/
/apps/core/__pycache__/*
/apps/core/migrations/
/apps/veterinario/__pycache__/*
/apps/veterinario/migrations/
/apps/doador/__pycache__/*
/apps/doador/migrations/
/apps/adotante/__pycache__/*
/apps/adotante/migrations/
/apps/adocao/__pycache__/*
/apps/adocao/migrations/
/apps/adocao_animal/__pycache__/*
/apps/adocao_animal/migrations/
/apps/animal/__pycache__/*
/apps/animal/migrations/
/apps/atendimento/__pycache__/*
/apps/atendimento/migrations/