db.sqlite3
/projetoapp/__pycache__/*
/apps/ongs/__pycache__/*
/apps/ongs/migrations/__pycache__/*
/apps/core/__pycache__/*
/apps/core/migrations/__pycache__/*
/apps/veterinarios/__pycache__/*
/apps/veterinarios/migrations/__pycache__/*
/apps/doadores/__pycache__/*
/apps/doadores/migrations/__pycache__/*
/apps/adotantes/__pycache__/*
/apps/adotantes/migrations/__pycache__/*
/apps/adocao/__pycache__/*
/apps/adocao/migrations/__pycache__/*
/apps/adocao_animal/__pycache__/*
/apps/adocao_animal/migrations/__pycache__/*
/apps/animal/__pycache__/*
/apps/animal/migrations/__pycache__/*
/apps/atendimento/__pycache__/*
/apps/atendimento/migrations/__pycache__/*