{% extends 'base.html' %}

{% block title %}

    Lista de Doadores - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Doadores</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'doadores:add_doador' %}">Cadastro de novo doador</a>
                <br />
                <br />
                <table class="tabela">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Endereço</th>
                    <th scope="col">Telefone</th>
                    </tr>
                </thead>
                <tbody>
                    {% for doador in doadores %}
                        <tr>
                            <th id="num" scope="row">{{ doador.id }}</th>
                            <td>{{ doador.name }}</td>
                            <td>{{ doador.cpf }}</td>
                            <td>{{ doador.address }}</td>
                            <td>{{ doador.phone }}</td>
                            <td>
                                <a href="{% url 'doadores:edit_doador' doador.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'doadores:delete_doador' doador.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}
