{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Adocaoanimal - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Adoção de Animal</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST">
                {% csrf_token %}
                <div class="form-group">
                   <label class="label_txt" for="{{ form.animal.id_for_label }}">Dados do Animal</label>
                   {{ form.animal|add_class:"form-control campotxt-style" }}
                </div>
                <button id="botao_salvar" type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>

{% endblock body %}