{% extends 'base.html' %}

{% block title %}

    Lista da Adocao de Animais - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Adoção de Animais</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'adocaoanimais:add_adocaoanimal' %}">Cadastro de nova Adoção de Animal</a>
                <br />
                <br />
                <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome do animal</th>
                    <th scope="col">Espécie</th>
                    <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for adocaoanimal in adocaoanimais %}
                        <tr>
                            <th scope="row">{{ adocaoanimal.id }}</th>
                            <td>{{ adocaoanimal.animal }}</td>
                            <td>{{ adocaoanimal.animal }}</td>
                            <td>{{ adocaoanimal.adoption }}</td>
                            <td>
                                <a href="{% url 'adocaoanimais:edit_adocaoanimal' adocaoanimal.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>
                                <a href="{% url 'adocaoanimais:delete_adocaoanimal' adocaoanimal.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}