{% extends 'base.html' %}

{% load widget_tweaks %}

{% block title %}

    Adicionar Animal - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
    <h5><b>Cadastro de Animal</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <form action="" method="POST"> <!--enctype="multipart/form-data">-->
                {% csrf_token %}
                <div class="form-group">
                   <label class="label_txt" for="{{ form.name.id_for_label }}">Nome</label>
                   {{ form.name|add_class:"form-control campotxt-style" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.sex.id_for_label }}">Sexo</label>
                    {{ form.sex|add_class:"form-control campotxt-style" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.years_old.id_for_label }}">Idade</label>
                    {{ form.years_old|add_class:"form-control campotxt-style" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.specie.id_for_label }}">Espécie</label>
                    {{ form.specie|add_class:"form-control campotxt-style" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.race.id_for_label }}">Raça</label>
                    {{ form.race|add_class:"form-control campotxt-style" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.color.id_for_label }}">Cor</label>
                    {{ form.color|add_class:"form-control campotxt-style" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.weight.id_for_label }}">Peso</label>
                    {{ form.weight|add_class:"form-control campotxt-style" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.height.id_for_label }}">Altura</label>
                    {{ form.height|add_class:"form-control campotxt-style" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.adoption_status.id_for_label }}">Status adoção</label>
                    {{ form.adoption_status|add_class:"form-control campotxt-style" }}
                </div>
                <!--<div class="form-group">
                    <label class="label_txt" for="{{ form.ong.id_for_label }}">Ong</label>
                    {{ form.ong|add_class:"form-control" }}
                </div>
                <div class="form-group">
                    <label class="label_txt" for="{{ form.doador.id_for_label }}">Doador</label>
                    {{ form.doador|add_class:"form-control" }}
                </div>-->
                    <button id="botao_salvar" type="submit" class="btn btn-primary">Salvar</button>       
                </form>
            </div>
        </div>
    </div>


{% endblock body %}