{% extends 'base.html' %}

{% block title %}

    Lista de Animais - {{ block.super }}

{% endblock title %}

{% block body %}

    <div class="container">
        <br />
        <h5><b>Lista de Animais</b></h5>
        <div class="row">
            <div class ="col-md-12">
                <br />
                    <a href="{% url 'animais:add_animal' %}">Cadastro de Animal</a>
                <br />
                <br />
                <table class="tabela">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Sexo</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Espécie</th>
                    <th scope="col">Raça</th>
                    <th scope="col">Cor</th>
                    <th scope="col">Peso</th>
                    <th scope="col">Altura</th>
                    <th scope="col">Ong</th>
                    <th scope="col">Doador</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in animais %}
                        <tr>
                            <th id="num" scope="row">{{ animal.id }}</th>
                            <td>{{ animal.name }}</td>
                            <td>{{ animal.get_sex_display }}</td>
                            <td>
                                {{ animal.years_old_value }}
                                {% if animal.years_old_unit == 'anos' %}
                                    a
                                {% else %}
                                    m
                                {% endif %}
                            </td>
                            <td>{{ animal.get_specie_display }}</td>
                            <td>{{ animal.race }}</td>
                            <td>{{ animal.color }}</td>
                            <td>
                                {{ animal.weight_value }}
                                {% if animal.weight_unit == 'quilos' %}
                                    kg
                                {% else %}
                                    g
                                {% endif %}
                            </td>
                            <td>{{ animal.height_value }}
                                {% if animal.height_unit == 'metros' %}
                                    m
                                {% else %}
                                    cm
                                {% endif %}
                            </td>
                            <td>{{ animal.ong }}</td>
                            <td>{{ animal.donator }}</td>
                            <td>
                                <a href="{% url 'animais:edit_animal' animal.id %}" class="btn btn-primary btn-sm">Editar</a>
                            </td>
                            <td>    
                                <a href="{% url 'animais:delete_animal' animal.id %}" class="btn btn-danger btn-sm ">Excluir</a>
                            </td>
                        </tr> 
                    {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock body %}